<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="BasicLayout" value="${longdate}: ${logger} | ${message}${newline}${exception}"/>
  <variable name="FullInformationLayout" value="${longdate}: ${logger} | ${level} | ${threadid} | ${message}${newline}${exception}"/>

  <targets>
    <target name="LogFile" xsi:type="File" layout="${BasicLayout}" filename="LogFile.log" deleteOldFileOnStartup="true"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="LogFile" />
  </rules>
</nlog>